@using Microsoft.AspNetCore.Identity
@using FashionShop.Models

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FashionShop</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/header.css" asp-append-version="true" />

</head>

@{
    string menuTextColor = "text-white";
}
<body>

    <div class="container-fluid sticky-top" style="background: linear-gradient(to right, #28340B, #197696);">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3 row h-100 ">
            <div class="container">
                <a class="navbar-brand @menuTextColor" asp-area="" asp-controller="Home" asp-action="Index">FashionShop</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link @menuTextColor" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (SignInManager.IsSignedIn(User) && UserManager.GetUserAsync(User).Result.EmailConfirmed)
                        {
                            <li class="dropdown nav-item pr-2">
                                <a class="nav-link dropdown-toggle @menuTextColor" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Masters
                                </a>
                                <ul class="dropdown-menu" style="background: linear-gradient(to right, #28340B, #197696);">
                                    <li class="nav-item">
                                        <a class="nav-link @menuTextColor" asp-area="" asp-controller="Unit" asp-action="Index">Units</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link @menuTextColor" asp-area="" asp-controller="Product" asp-action="Index">Products</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link @menuTextColor" asp-area="" asp-controller="Category" asp-action="Index">Categories</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link @menuTextColor" asp-area="" asp-controller="Brand" asp-action="Index">Brands</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link @menuTextColor" asp-area="" asp-controller="ProductProfile" asp-action="Index">Product Profiles</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link @menuTextColor" asp-area="" asp-controller="ProductGroup" asp-action="Index">Product Groups</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link @menuTextColor" asp-area="" asp-controller="Supplier" asp-action="Index">Suppliers</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown nav-item pr-2">
                                <a class="nav-link dropdown-toggle @menuTextColor" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Transactions
                                </a>
                                <ul class="dropdown-menu" style="background:linear-gradient(to right,#28340B,#197696);">
                                    <li class="nav-item">
                                        <a class="nav-link @menuTextColor" asp-area="" asp-controller="PurchaseOrder" asp-action="Index">PurchaseOrder</a>
                                    </li>
                                </ul>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link @menuTextColor" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>

    </div>
    <div class="container">
        <main role="main" class="pb-3">
            <!--Success Dialog Start-->
            <div id="myModalSuccess" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2>Information</h2>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div id="MyModalSuccessAlertBody" class="modal-body alert alert-success">
                            this is a modal body. our message will appear here.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--Success Dialog End-->
            <!--Error Dialog Start-->
            <div id="myModalError" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2>Error</h2>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div id="MyModalErrorAlertBody" class="modal-body alert alert-danger">
                            this is a modal body. our message will appear here.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--Error Dialog End-->
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background:linear-gradient(to left,#28340B,#197696);">
        <div class="container @menuTextColor ">
            &copy; 2024 - <a asp-area="" asp-controller="Home" asp-action="Index" class="@menuTextColor">FashionShop</a> - <a asp-area="" asp-controller="Home" asp-action="Contact" class="@menuTextColor">Contact Us</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/assets/js/owl-carousel.js"></script>
    <script src="~/assets/js/accordions.js"></script>
    <script src="~/assets/js/datepicker.js"></script>
    <script src="~/assets/js/scrollreveal.min.js"></script>
    <script src="~/assets/js/waypoints.min.js"></script>
    <script src="~/assets/js/jquery.counterup.min.js"></script>
    <script src="~/assets/js/imgfix.min.js"></script>
    <script src="~/assets/js/slick.js"></script>
    <script src="~/assets/js/lightbox.js"></script>
    <script src="~/assets/js/isotope.js"></script>
    <script src="~/assets/js/custom.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
